<div class="alert alert-warning" ng-hide="$ctrl.confirmed">
	<strong>WARNING!</strong> These tools <em>will</em> seriously mess with your database. Use with caution.
	<div class="checkbox">
		<label><input type="checkbox" ng-model="$ctrl.confirmed" /> I understand, let me break stuff</label>
	</div>
</div>

<div ng-show="$ctrl.confirmed">
	<h2>Tools</h2>
	
	<!--div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">TV Shows</h3>
		</div>
		<div class="panel-body">
		<button type="button" class="btn btn-warning" ng-click="$ctrl.showScan()">Rescan Shows</button>
		<button type="button" class="btn btn-danger" ng-click="$ctrl.movieRebuild()">Rebuild TV Show Database</button>
		</div>
	</div-->
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Movies</h3>
		</div>
		<div class="panel-body">
		<button type="button" class="btn btn-warning" ng-click="$ctrl.movieScan()">Rescan Movies</button>
		<!--button type="button" class="btn btn-danger" ng-click="$ctrl.movieRebuild()">Rebuild Movies Database</button-->
		</div>
	</div>
</div>