<div class="nutv-artwork" title="{{$ctrl.item.title}}">
	<picture>
		<source srcset="{{$ctrl.sources.banner.join(',')}}" media="(max-width: 767px)"></source>
		<source src="/static/gfx/default-banner.png" media="(max-width: 767px"></source>
		
		<source srcset="{{$ctrl.sources.poster.join(',')}}" media="(min-width: 768px)"></source>
		<source src="/static/gfx/default-cover.png" media="(min-width: 768px)"></source>
		
		<img class="img-responsive" width="100%" />
	</picture>
	
	<span ng-show="$ctrl.title.poster || $ctrl.title.banner" class="title"
		ng-class="{'visible-xs visible-sm':$ctrl.title.banner,'visible-md visible-lg':$ctrl.title.poster}">
		{{::$ctrl.title.text}}
	</span>
</div>