@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css');

@import "nodetv/variables";
@import "nodetv/common";
@import "nodetv/bootstrap";
@import "nodetv/artwork";

html {
	background-color: #FFFFFF;
	font-size: 14px;
	margin: 0;
	min-height: 100vh;
	position: relative;
	
	body {
		background-color: transparent;
		color: $nodetv-black;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		margin: 0;
		min-height: inherit;
	}
	
	h1,h2,h3,h4,h5,h6 {
		color: $nodetv-black;
		font-weight: 400;
	}
	p {
		color: $nodetv-black;
	}
	a {
		color: $nodetv-red;
		&:focus, &:hover {
			color: $nodetv-red;
		}
	}
	strong {
		font-weight: 800;
	}
}

header {
	::selection {
		background-color: transparent;
	}
}

main {
	padding-top: 70px;
	
	::selection {
		background-color: $nodetv-red;
		color: $nodetv-white;
		&a {
			color: $nodetv-black;
		}
	}
}

.highlight {
	color: $nodetv-red;
}

.swal2-popup {
	font-size: 1.6rem !important;
}

div.search {
	margin-bottom: 10px;
}

.result-details {
	align-content: flex-start;
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	padding: 0;
	li {
		color: $nodetv-grey;
		font-size: 11px;
		padding-right: 10px;
		text-transform: capitalize;
	}
}

footer {
//	bottom: 0;
//	left: 0;
//	position: absolute;
//	right: 0;
//	width: auto;
	div.info {
		font-size: 10px;
		text-align: center;
	}
}


.week {
	align-items: flex-start;
	align-content: flex-start;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	div.day {
		display: block;
		width: 14%;
	}
}
