@import "nodetv/variables";
@import "nodetv/common";
@import "nodetv/bootstrap";

html {
	background-color: $nodetv-white;
	margin: 0;
	min-height: 100vh;
	position: relative;
	
	body {
		color: $nodetv-black;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		margin: 0;
		min-height: inherit;
	}
	h1,h2,h3,h4,h5,h6 {
		color: $nodetv-black;
		font-weight: 400;
	}
	p {
		color: $nodetv-black;
	}
	a {
		color: $nodetv-red;
		&:focus, &:hover {
			color: $nodetv-red;
		}
	}
	strong {
		font-weight: 800;
	}
}

main {
	padding-top: 70px;
}

.highlight {
	color: $nodetv-red;
}

.cover {
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	
	a {
		display: block;
	}
	img {
		border: 1px solid $nodetv-grey;
	}
	.title {
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 85%;
	}
}

div.search {
	margin-bottom: 10px;
}

footer {
//	bottom: 0;
//	left: 0;
//	position: absolute;
//	right: 0;
//	width: auto;
	div.info {
		font-size: 10px;
		text-align: center;
	}
}