<form name="loginForm" ng-submit="login()">
	<div class="form-group">
		<label for="ipt_username">Username/Email</label>
		<input type="text" id="ipt_username" name="username" class="form-control" required="true" ng-model="auth.username" />
	</div>
	<div class="form-group">
		<label for="ipt_password">Password</label>
		<input type="password" id="ipt_password" name="password" class="form-control" required="true" ng-model="auth.password" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>
	</div>
</form>