<div class="ng-cloak">
	<div ng-show="$ctrl.trakt && $ctrl.trakt.connected">
		<img src="/static/gfx/logo-trakt.png" style="max-width:40px;" />
		Trakt.tv Connected - <a href="#" ng-click="$ctrl.disconnect()">Disconnect</a>
	</div>
	<div ng-show="$ctrl.trakt && !$ctrl.trakt.connected">
		<img src="/static/gfx/logo-trakt.png" style="max-width:40px;" />
		Device Code: <strong>{{$ctrl.trakt.user_code}}</strong> -
		<a href="{{$ctrl.trakt.verification_url}}" target="_blank">Authorise</a>
	</div>
</div>