<div class="ng-cloak" ng-controller="TraktConnectController">
	
	<h1 class="title">Connect with Trakt.tv</h1>
	<form class="form" name="traktForm" ng-show="trakt.url" ng-submit="submit()">
		<div class="form-group">
			<label for="ipt_trakt_pin">Trakt PIN</label>
			<span class="input-group">
				<span class="input-group-btn">
					<a href="{{trakt.url}}" target="_blank" class="btn btn-primary">
						<span class="fa fa-cloud"></span> Get PIN
					</a>
				</span>
				<input type="text" id="ipt_trakt_pin" name="pin" class="form-control" placeholder="Trakt.tv PIN" required="true" ng-model="trakt.pin" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-success" ng-disabled="traktForm.$invalid">Connect</button>
				</span>
			</span>
		</div>
	</form>
</div>