<div id="episode-{{::$ctrl.episode.episode}}" class="row episode">
	<div class="col-sm-12">
		<h4 uib-dropdown>
			<span uib-dropdown-toggle>
				<span class="highlight">Episode {{::$ctrl.episode.episode|zeroFill:2}}</span> - {{::$ctrl.episode.title}}
				<span class="caret"></span>
			</span>
			<ul class="dropdown-menu" uib-dropdown-menu>
				<li ng-show="$ctrl.episode.file.filename">
					<a ng-click="$ctrl.play()"><span class="fa fa-play"></span> Play</a>
				</li>
				<li ng-show="$ctrl.episode.hashes.length">
					<a ng-click="$ctrl.download()"><span class="fa fa-download"></span> Download</a>
				</li>
				<li ng-hide="$ctrl.episode.watchers[0].watches.length">
					<a ng-click="$ctrl.watched()"><span class="fa fa-eye"></span> Mark as Watched</a>
				</li>
			</ul>
		</h4>
	</div>
	<div class="col-md-12" ng-show="$ctrl.episode.overview">
		<p>{{::$ctrl.episode.overview}}</p>
	</div>
	
<!-- 	{{$ctrl.episode.watchers[0].watches}} -->
	
	<div class="col-sm-12">
		<ul class="result-details">
			<li>Broadcast: {{::$ctrl.episode.first_aired|date:'d MMMM yyyy, HH:mm'}}</li>
			<li ng-show="$ctrl.episode.file.added">Downloaded: {{::$ctrl.episode.file.added|date:'d MMMM yyyy, HH:mm'}}</li>
			<li ng-show="$ctrl.episode.watchers[0].watches.length">Watched: {{::$ctrl.episode.watchers[0].watches[0].date|date:'d MMMM yyyy, HH:mm'}}</li>
		</ul>
	</div>
</div>