<ol class="breadcrumb">
	<li><a ui-sref="dashboard.home">Home</a></li>
	<li class="active">Shows</li>
</ol>

<form>
	<div class="input-group">
		<input type="text" class="form-control" />
		<span class="input-group-addon" ui-sref="shows.add"><span class="fa fa-plus"></span></span>
	</div>
</form>

<div class="row">
	<div class="col-sm-12" ng-repeat="item in items">
		<!-- TODO: Cover image -->
		
		<span class="fa" ng-class="{'fa-toggle-on':item.config.enabled,'fa-toggle-off':!item.config.enabled}"></span>
		<a ui-sref="^.show({slug: item.ids.slug})">{{item.title}}</a>
	</div>
</div>