<div>
	<div class="row">
		<div class="col-sm-12">
			<img ng-show="$ctrl.show.images.banner.enabled" ng-src="/media/shows/{{$ctrl.show.config.directory}}/{{$ctrl.show.images.banner.filename}}" class="img-responsive" />
			<h1 ng-hide="$ctrl.show.images.banner.enabled">{{$ctrl.show.title}}</h1>
		</div>
		<div class="col-sm-12">
			<p>{{$ctrl.show.overview}}</p>
		</div>
	</div>
	
	<uib-tabset>
		<uib-tab heading="Episodes">
			<div class="row">
				<div class="col-sm-12 text-right" >
					<ul class="list-inline">
						<li>Seasons:</li>
						<li ng-repeat="season in $ctrl.show.seasons">
							<a ui-sref=".season({season:season.season})">{{season.season===0?'Specials':season.season}}</a>
						</li>
					</ul>
				</div>
			</div>
			<ui-view />
		</uib-tab>
		
		<uib-tab heading="Settings">
			<ng-include src="'/views/show/settings.html'"></ng-include>
		</uib-tab>
		
		<uib-tab heading="Artwork">
			<button class="btn btn-default" ng-click="$ctrl.getArtwork()">Get Artwork</button>
			
			<div class="row" ng-show="$ctrl.images.banners.length">
				<div class="col-xs-12"><h6>Banners</h6></div>
				<div class="col-sm-3" ng-repeat="image in $ctrl.images.banners">
					<show-artwork show="$ctrl.show" artwork="image" type="banner"></show-artwork>
				</div>
			</div>
			
			<div class="row" ng-show="$ctrl.images.posters.length">
				<div class="col-xs-12"><h6>Posters</h6></div>
				<div class="col-xs-3 col-sm-3 col-md-2" ng-repeat="image in $ctrl.images.posters">
					<show-artwork show="$ctrl.show" artwork="image" type="poster"></show-artwork>
				</div>
			</div>
			
			<div class="row" ng-show="$ctrl.images.backgrounds.length">
				<div class="col-sm-12"><h6>Backgrounds</h6></div>
				<div class="col-sm-3" ng-repeat="image in $ctrl.images.backgrounds">
					<show-artwork show="$ctrl.show" artwork="image" type="background"></show-artwork>
				</div>
			</div>
		</uib-tab>
		
		<uib-tab heading="Tools">
			<div class="row">
				<div class="col-sm-12">
					<!--<button class="btn btn-primary" ng-hide="$ctrl.show.config.directory" ng-click="$ctrl.match()">Match directory</button>-->
					
					<button class="btn btn-info" ng-click="$ctrl.sync()">
						<span class="fa fa-refresh"></span> Sync show data
					</button>
					<button class="btn btn-primary">
						<span class="fa fa-cloud-download"></span> Download all
					</button>
					<button class="btn btn-warning" ng-show="$ctrl.show.config.directory" ng-click="$ctrl.rescan()">
						<span class="fa fa-hdd-o"></span> Rescan directory
					</button>
					<button class="btn btn-danger">
						<span class="fa fa-trash-o"></span> Remove show
					</button>
					
				</div>
			</div>
			
		</uib-tab>
	</uib-tabset>
</div>