[Unit]
Description=NodeTV Media Library Manager
Requires=mongodb.service
After=syslog.target network.target mongodb.service

[Service]
EnvironmentFile=-/home/media/nutv.env
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/node /opt/nutv/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nutv
Type=simple
User=media
Group=media

[Install]
WantedBy=multi-user.target