<!DOCTYPE html>
<html lang="en" ng-app="nutv">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	
	<title update-title>NodeTV</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700;" />
	
	<link rel="stylesheet" href="/static/css/modern.css" />
	
	<link rel="manifest" href="/assets/manifest.json">
	<base href="/" />
</head>

</head>
<body>
	<header role="navigation">
		
	</header>
	
	<main class="container" role="main">
		<%- body %>
	</main>
	
	<footer>
		<div class="info">NodeTV v<%- nutv.version %></div>
	</footer>
	
	<script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-touch.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script src="/static/js/libs/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="/static/js/libs/ui-router-1.0.3.min.js"></script>
	<script src="/static/js/libs/ng-socket.min.js"></script>
	<script src="/static/js/libs/ng-storage-0.3.10.min.js"></script>
	
	<script src="/static/js/nutv.core.js"></script>
	<script src="/static/js/nutv.shows.js"></script>
	
	<script src="/static/js/nutv.js"></script>
</body>
</html>